html
{
    height: 100%;
}

body
{
    position: relative;
    min-height: 100%;
}

/* フッターの固定 */
    div#footer-fixed
    {
        position: fixed;            /* フッターの固定 */
        bottom: 0px;                /* 位置(下0px) */
        left: 0px;                  /* 位置(左0px) */
        width: 100%;                /* 横幅100%　*/
        height: 180px;              /* 縦幅140px */
    }
     
    div#footer-bk
    {
    	background-color:#444;     /* 背景色(黒) */
    	padding:10px 0 20px;       /* 上10px、下20pxをあける */
    	height:170px;              /* 縦の高さ140px */
    	width:100%;                /* 横の幅を100% */
    }

    div#messages
    {
        padding-bottom:180px;
    }
/*      
    div#footer { 
    	border: 5px solid #fff;    /* 表示領域を白枠で囲う */
    	height: 100%;              /* 縦の表示領域はheader-bkと同じ */
    	width: 960px;              /* 横の幅970px */
    	margin: auto;              /* 中央揃え */
    } */